# ----------------------------------------
# Node.js dependencies and lock files
# ----------------------------------------
**/node_modules/
**/package-lock.json
**/yarn.lock
npm-debug.log*
yarn-error.log*
yarn-debug.log*
lerna-debug.log*
pnpm-debug.log*

# ----------------------------------------
# Build and dist output
# ----------------------------------------
**/dist/
**/build/
**/coverage/
**/.nyc_output/

# ----------------------------------------
# Environment variables
# ----------------------------------------
**/.env
**/.env.local
**/.env.development
**/.env.production
**/.env.test
**/.env.test.local
**/.env.production.local
**/.env.development.local

# ----------------------------------------
# Logs
# ----------------------------------------
**/logs
**/*.log

# ----------------------------------------
# Editor & OS Files
# ----------------------------------------
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# ----------------------------------------
# MongoDB local data (if any)
data/
dump/

# ----------------------------------------
# Misc Tools and Caches
.cache/
.parcel-cache/
.next/
.nuxt/
.web_modules/
bower_components/
.rpt2_cache/
.rts2_cache_*/
.yarn-integrity
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
lib-cov/
build/Release/
.lock-wscript
.report.json
*.tsbuildinfo
.eslintcache
.stylelintcache
.grunt/
.docusaurus/
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vitepress/

# Optional REPL history
.node_repl_history
